<h2>更新履歴</h2>
<ul>
  <li><time>16/01/06</time> リスナー数を調整出来るようにしました</li>
  <li><time>16/01/06</time> YoutubeLive、アフリカTV、ねとらじに対応しました</li>
  <li><time>13/05/07</time> 表示切り替え機能を導入しました</li>
  <li><time>12/02/25</time> FC2ライブに対応しました</li>
  <li><time>12/02/19</time> ツイキャスに対応しました</li>
  <li><time>11/10/19</time> Livetubeに対応しました</li>
  <li><time>11/09/24</time> 公開しました</li>
</ul>
